<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{::title}, ~{::header}, ~{::section})}" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Item Form</title>
</head>
<body>
<header th:text="${pageTitle}">Item Form</header>

<section>
    <form class="row g-3" method="post" th:action="${formAction}">
        <div class="col-12">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" name="name" required th:value="${itemForm.name}" type="text">
        </div>

        <div class="col-12">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="5"
                      th:text="${itemForm.description}"></textarea>
        </div>

        <div class="col-12 d-flex gap-2">
            <button class="btn btn-primary" th:text="${submitLabel}" type="submit">Save</button>
            <a class="btn btn-outline-secondary" th:href="@{/item}">Cancel</a>
        </div>
    </form>
</section>
</body>
</html>
